@mixin makeBreakpoints() {

    @each $breakpoint, $pixel in $breakpoints {

        @media screen and (min-width: #{$pixel}) {

            [breakpoint*="#{$breakpoint}-33"] {
                flex: 0 0 33%;
                max-width: 33%;
            }

            [breakpoint*="#{$breakpoint}-66"] {
                flex: 0 0 66%;
                max-width: 66%;
            }

            [breakpoint*="#{$breakpoint}-content"] {
                flex: 0 0 auto;
            }

        } // media query

    }

}



@mixin makeGutters() {

    @each $attsvalue, $value in $gutters {
        // if $attsvalue == 0 [gutter]
        [gutters="#{$attsvalue}"] {
            margin-left: -($value);
        }

        [gutters="#{$attsvalue}"] > * {
            padding-left: $value;
        }

    }

}
