[layout="flexrow"] > *, [layout="flexgrid"] > * {
  flex: 1;
  display: block;
  box-sizing: border-box;
  word-wrap: break-word;
  text-align: left; }

[layout="flexrow"] {
  display: flex;
  -webkit-padding-start: 0; }

[layout*="flex"][flex-items] > * {
  display: flex; }

[layout*="flex"][autostack] {
  flex-direction: column; }

[layout*="flex"][autostack][align] > * {
  align-self: initial; }

@media screen and (min-width: 640px) {
  [layout*="flex"][autostack] {
    flex-direction: row; } }

[layout*="flex"][align="top"] {
  align-items: flex-start; }

[layout*="flex"][align="middle"] {
  align-items: center; }

[layout*="flex"][align="stretch"] {
  align-items: stretch; }

[layout*="flex"][align="bottom"] {
  align-items: flex-end; }

[layout*="flex"][cross-align="left"] {
  justify-content: left; }

[layout*="flex"][cross-align="right"] {
  justify-content: right; }

[layout*="flex"][cross-align="center"] {
  justify-content: center; }

[layout*="flex"][cross-align="between"] {
  justify-content: space-between; }

[layout*="flex"][cross-align="around"] {
  justify-content: space-around; }

[layout*="flex"] > [align="top"] {
  align-self: flex-start; }

[layout*="flex"] > [align="middle"] {
  align-self: center; }

[layout*="flex"] > [align="stretch"] {
  align-self: stretch; }

[layout*="flex"] > [align="bottom"] {
  align-self: flex-end; }

[layout="flexgrid"] {
  display: flex;
  flex-wrap: wrap;
  -webkit-padding-start: 0; }

[basis*="tiny-1-columns"] > * {
  flex: 0 0 100%;
  max-width: 100%; }

[basis*="tiny-2-columns"] > * {
  flex: 0 0 50%;
  max-width: 50%; }

[basis*="tiny-3-columns"] > * {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

[basis*="tiny-4-columns"] > * {
  flex: 0 0 25%;
  max-width: 25%; }

[basis*="tiny-5-columns"] > * {
  flex: 0 0 20%;
  max-width: 20%; }

[basis*="tiny-6-columns"] > * {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

[basis*="tiny-7-columns"] > * {
  flex: 0 0 14.28571%;
  max-width: 14.28571%; }

[basis*="tiny-8-columns"] > * {
  flex: 0 0 12.5%;
  max-width: 12.5%; }

[basis*="tiny-9-columns"] > * {
  flex: 0 0 11.11111%;
  max-width: 11.11111%; }

[basis*="tiny-10-columns"] > * {
  flex: 0 0 10%;
  max-width: 10%; }

[basis*="tiny-11-columns"] > * {
  flex: 0 0 9.09091%;
  max-width: 9.09091%; }

[basis*="tiny-12-columns"] > * {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

[basis*="small-1-columns"] > * {
  flex: 0 0 100%;
  max-width: 100%; }

[basis*="small-2-columns"] > * {
  flex: 0 0 50%;
  max-width: 50%; }

[basis*="small-3-columns"] > * {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

[basis*="small-4-columns"] > * {
  flex: 0 0 25%;
  max-width: 25%; }

[basis*="small-5-columns"] > * {
  flex: 0 0 20%;
  max-width: 20%; }

[basis*="small-6-columns"] > * {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

[basis*="small-7-columns"] > * {
  flex: 0 0 14.28571%;
  max-width: 14.28571%; }

[basis*="small-8-columns"] > * {
  flex: 0 0 12.5%;
  max-width: 12.5%; }

[basis*="small-9-columns"] > * {
  flex: 0 0 11.11111%;
  max-width: 11.11111%; }

[basis*="small-10-columns"] > * {
  flex: 0 0 10%;
  max-width: 10%; }

[basis*="small-11-columns"] > * {
  flex: 0 0 9.09091%;
  max-width: 9.09091%; }

[basis*="small-12-columns"] > * {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

[basis*="medium-1-columns"] > * {
  flex: 0 0 100%;
  max-width: 100%; }

[basis*="medium-2-columns"] > * {
  flex: 0 0 50%;
  max-width: 50%; }

[basis*="medium-3-columns"] > * {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

[basis*="medium-4-columns"] > * {
  flex: 0 0 25%;
  max-width: 25%; }

[basis*="medium-5-columns"] > * {
  flex: 0 0 20%;
  max-width: 20%; }

[basis*="medium-6-columns"] > * {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

[basis*="medium-7-columns"] > * {
  flex: 0 0 14.28571%;
  max-width: 14.28571%; }

[basis*="medium-8-columns"] > * {
  flex: 0 0 12.5%;
  max-width: 12.5%; }

[basis*="medium-9-columns"] > * {
  flex: 0 0 11.11111%;
  max-width: 11.11111%; }

[basis*="medium-10-columns"] > * {
  flex: 0 0 10%;
  max-width: 10%; }

[basis*="medium-11-columns"] > * {
  flex: 0 0 9.09091%;
  max-width: 9.09091%; }

[basis*="medium-12-columns"] > * {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

[basis*="large-1-columns"] > * {
  flex: 0 0 100%;
  max-width: 100%; }

[basis*="large-2-columns"] > * {
  flex: 0 0 50%;
  max-width: 50%; }

[basis*="large-3-columns"] > * {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

[basis*="large-4-columns"] > * {
  flex: 0 0 25%;
  max-width: 25%; }

[basis*="large-5-columns"] > * {
  flex: 0 0 20%;
  max-width: 20%; }

[basis*="large-6-columns"] > * {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

[basis*="large-7-columns"] > * {
  flex: 0 0 14.28571%;
  max-width: 14.28571%; }

[basis*="large-8-columns"] > * {
  flex: 0 0 12.5%;
  max-width: 12.5%; }

[basis*="large-9-columns"] > * {
  flex: 0 0 11.11111%;
  max-width: 11.11111%; }

[basis*="large-10-columns"] > * {
  flex: 0 0 10%;
  max-width: 10%; }

[basis*="large-11-columns"] > * {
  flex: 0 0 9.09091%;
  max-width: 9.09091%; }

[basis*="large-12-columns"] > * {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

[basis*="huge-1-columns"] > * {
  flex: 0 0 100%;
  max-width: 100%; }

[basis*="huge-2-columns"] > * {
  flex: 0 0 50%;
  max-width: 50%; }

[basis*="huge-3-columns"] > * {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

[basis*="huge-4-columns"] > * {
  flex: 0 0 25%;
  max-width: 25%; }

[basis*="huge-5-columns"] > * {
  flex: 0 0 20%;
  max-width: 20%; }

[basis*="huge-6-columns"] > * {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

[basis*="huge-7-columns"] > * {
  flex: 0 0 14.28571%;
  max-width: 14.28571%; }

[basis*="huge-8-columns"] > * {
  flex: 0 0 12.5%;
  max-width: 12.5%; }

[basis*="huge-9-columns"] > * {
  flex: 0 0 11.11111%;
  max-width: 11.11111%; }

[basis*="huge-10-columns"] > * {
  flex: 0 0 10%;
  max-width: 10%; }

[basis*="huge-11-columns"] > * {
  flex: 0 0 9.09091%;
  max-width: 9.09091%; }

[basis*="huge-12-columns"] > * {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

[layout="flexcolumn"] {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

[layout="flexcolumn"] > * {
  flex: 1;
  display: flex;
  flex-direction: column; }

[layout="flexcolumn"] > [size-content] {
  flex: 0 0 auto; }

[layout="flexcolumn"][align="bottom"] {
  justify-content: flex-end; }

[layout="flexcolumn"][align="center"] {
  justify-content: center; }

[layout="flexcolumn"][align="between"] {
  justify-content: space-between; }

[layout="flexcolumn"][align="around"] {
  justify-content: space-around; }

[layout="flexcolumn"][align] > * {
  flex: 0 0 auto; }

[layout="flexlist"] {
  display: inline-flex;
  flex-wrap: wrap;
  width: auto;
  margin: 0px;
  padding: 0px;
  list-style: none;
  -webkit-padding-start: 0; }

[layout="flexlist"] > * {
  flex: 0 0 auto; }

@media screen and (min-width: 320px) {
  [breakpoint*="tiny-25"] {
    flex: 0 0 25%;
    max-width: 25%; }
  [breakpoint*="tiny-33"] {
    flex: 0 0 33.33%;
    max-width: 33.33%; }
  [breakpoint*="tiny-66"] {
    flex: 0 0 66.66%;
    max-width: 66.66%; }
  [breakpoint*="tiny-75"] {
    flex: 0 0 75%;
    max-width: 75%; }
  [breakpoint*="tiny-content"] {
    flex: 0 0 auto; }
  [breakpoint*="tiny-10"] {
    flex: 0 0 10%;
    max-width: 10%; }
  [breakpoint*="tiny-20"] {
    flex: 0 0 20%;
    max-width: 20%; }
  [breakpoint*="tiny-30"] {
    flex: 0 0 30%;
    max-width: 30%; }
  [breakpoint*="tiny-40"] {
    flex: 0 0 40%;
    max-width: 40%; }
  [breakpoint*="tiny-50"] {
    flex: 0 0 50%;
    max-width: 50%; }
  [breakpoint*="tiny-60"] {
    flex: 0 0 60%;
    max-width: 60%; }
  [breakpoint*="tiny-70"] {
    flex: 0 0 70%;
    max-width: 70%; }
  [breakpoint*="tiny-80"] {
    flex: 0 0 80%;
    max-width: 80%; }
  [breakpoint*="tiny-90"] {
    flex: 0 0 90%;
    max-width: 90%; }
  [breakpoint*="tiny-100"] {
    flex: 0 0 100%;
    max-width: 100%; } }

@media screen and (min-width: 640px) {
  [breakpoint*="small-25"] {
    flex: 0 0 25%;
    max-width: 25%; }
  [breakpoint*="small-33"] {
    flex: 0 0 33.33%;
    max-width: 33.33%; }
  [breakpoint*="small-66"] {
    flex: 0 0 66.66%;
    max-width: 66.66%; }
  [breakpoint*="small-75"] {
    flex: 0 0 75%;
    max-width: 75%; }
  [breakpoint*="small-content"] {
    flex: 0 0 auto; }
  [breakpoint*="small-10"] {
    flex: 0 0 10%;
    max-width: 10%; }
  [breakpoint*="small-20"] {
    flex: 0 0 20%;
    max-width: 20%; }
  [breakpoint*="small-30"] {
    flex: 0 0 30%;
    max-width: 30%; }
  [breakpoint*="small-40"] {
    flex: 0 0 40%;
    max-width: 40%; }
  [breakpoint*="small-50"] {
    flex: 0 0 50%;
    max-width: 50%; }
  [breakpoint*="small-60"] {
    flex: 0 0 60%;
    max-width: 60%; }
  [breakpoint*="small-70"] {
    flex: 0 0 70%;
    max-width: 70%; }
  [breakpoint*="small-80"] {
    flex: 0 0 80%;
    max-width: 80%; }
  [breakpoint*="small-90"] {
    flex: 0 0 90%;
    max-width: 90%; }
  [breakpoint*="small-100"] {
    flex: 0 0 100%;
    max-width: 100%; } }

@media screen and (min-width: 1024px) {
  [breakpoint*="medium-25"] {
    flex: 0 0 25%;
    max-width: 25%; }
  [breakpoint*="medium-33"] {
    flex: 0 0 33.33%;
    max-width: 33.33%; }
  [breakpoint*="medium-66"] {
    flex: 0 0 66.66%;
    max-width: 66.66%; }
  [breakpoint*="medium-75"] {
    flex: 0 0 75%;
    max-width: 75%; }
  [breakpoint*="medium-content"] {
    flex: 0 0 auto; }
  [breakpoint*="medium-10"] {
    flex: 0 0 10%;
    max-width: 10%; }
  [breakpoint*="medium-20"] {
    flex: 0 0 20%;
    max-width: 20%; }
  [breakpoint*="medium-30"] {
    flex: 0 0 30%;
    max-width: 30%; }
  [breakpoint*="medium-40"] {
    flex: 0 0 40%;
    max-width: 40%; }
  [breakpoint*="medium-50"] {
    flex: 0 0 50%;
    max-width: 50%; }
  [breakpoint*="medium-60"] {
    flex: 0 0 60%;
    max-width: 60%; }
  [breakpoint*="medium-70"] {
    flex: 0 0 70%;
    max-width: 70%; }
  [breakpoint*="medium-80"] {
    flex: 0 0 80%;
    max-width: 80%; }
  [breakpoint*="medium-90"] {
    flex: 0 0 90%;
    max-width: 90%; }
  [breakpoint*="medium-100"] {
    flex: 0 0 100%;
    max-width: 100%; } }

@media screen and (min-width: 1440px) {
  [breakpoint*="large-25"] {
    flex: 0 0 25%;
    max-width: 25%; }
  [breakpoint*="large-33"] {
    flex: 0 0 33.33%;
    max-width: 33.33%; }
  [breakpoint*="large-66"] {
    flex: 0 0 66.66%;
    max-width: 66.66%; }
  [breakpoint*="large-75"] {
    flex: 0 0 75%;
    max-width: 75%; }
  [breakpoint*="large-content"] {
    flex: 0 0 auto; }
  [breakpoint*="large-10"] {
    flex: 0 0 10%;
    max-width: 10%; }
  [breakpoint*="large-20"] {
    flex: 0 0 20%;
    max-width: 20%; }
  [breakpoint*="large-30"] {
    flex: 0 0 30%;
    max-width: 30%; }
  [breakpoint*="large-40"] {
    flex: 0 0 40%;
    max-width: 40%; }
  [breakpoint*="large-50"] {
    flex: 0 0 50%;
    max-width: 50%; }
  [breakpoint*="large-60"] {
    flex: 0 0 60%;
    max-width: 60%; }
  [breakpoint*="large-70"] {
    flex: 0 0 70%;
    max-width: 70%; }
  [breakpoint*="large-80"] {
    flex: 0 0 80%;
    max-width: 80%; }
  [breakpoint*="large-90"] {
    flex: 0 0 90%;
    max-width: 90%; }
  [breakpoint*="large-100"] {
    flex: 0 0 100%;
    max-width: 100%; } }

@media screen and (min-width: 1920px) {
  [breakpoint*="huge-25"] {
    flex: 0 0 25%;
    max-width: 25%; }
  [breakpoint*="huge-33"] {
    flex: 0 0 33.33%;
    max-width: 33.33%; }
  [breakpoint*="huge-66"] {
    flex: 0 0 66.66%;
    max-width: 66.66%; }
  [breakpoint*="huge-75"] {
    flex: 0 0 75%;
    max-width: 75%; }
  [breakpoint*="huge-content"] {
    flex: 0 0 auto; }
  [breakpoint*="huge-10"] {
    flex: 0 0 10%;
    max-width: 10%; }
  [breakpoint*="huge-20"] {
    flex: 0 0 20%;
    max-width: 20%; }
  [breakpoint*="huge-30"] {
    flex: 0 0 30%;
    max-width: 30%; }
  [breakpoint*="huge-40"] {
    flex: 0 0 40%;
    max-width: 40%; }
  [breakpoint*="huge-50"] {
    flex: 0 0 50%;
    max-width: 50%; }
  [breakpoint*="huge-60"] {
    flex: 0 0 60%;
    max-width: 60%; }
  [breakpoint*="huge-70"] {
    flex: 0 0 70%;
    max-width: 70%; }
  [breakpoint*="huge-80"] {
    flex: 0 0 80%;
    max-width: 80%; }
  [breakpoint*="huge-90"] {
    flex: 0 0 90%;
    max-width: 90%; }
  [breakpoint*="huge-100"] {
    flex: 0 0 100%;
    max-width: 100%; } }

[gutters="minus-3"] {
  margin-right: -0.5rem; }

[gutters="minus-3"] > * {
  padding-right: 0.5rem; }

[layout="flexgrid"][gutters="minus-3"] > * {
  margin-bottom: 0.5rem; }

[layout="flexcolumn"][gutters="minus-3"] > :not(:first-child) {
  margin-top: 0.5rem; }

@media only screen and (max-width: 640px) {
  [layout="flexrow"][gutters="minus-3"][autostack] > * {
    margin-bottom: 0.5rem; } }

[gutters="minus-2"] {
  margin-right: -0.75rem; }

[gutters="minus-2"] > * {
  padding-right: 0.75rem; }

[layout="flexgrid"][gutters="minus-2"] > * {
  margin-bottom: 0.75rem; }

[layout="flexcolumn"][gutters="minus-2"] > :not(:first-child) {
  margin-top: 0.75rem; }

@media only screen and (max-width: 640px) {
  [layout="flexrow"][gutters="minus-2"][autostack] > * {
    margin-bottom: 0.75rem; } }

[gutters="minus-1"] {
  margin-right: -0.85rem; }

[gutters="minus-1"] > * {
  padding-right: 0.85rem; }

[layout="flexgrid"][gutters="minus-1"] > * {
  margin-bottom: 0.85rem; }

[layout="flexcolumn"][gutters="minus-1"] > :not(:first-child) {
  margin-top: 0.85rem; }

@media only screen and (max-width: 640px) {
  [layout="flexrow"][gutters="minus-1"][autostack] > * {
    margin-bottom: 0.85rem; } }

[gutters] {
  margin-right: -1rem; }

[gutters] > * {
  padding-right: 1rem; }

[layout="flexgrid"][gutters] > * {
  margin-bottom: 1rem; }

[layout="flexcolumn"][gutters] > :not(:first-child) {
  margin-top: 1rem; }

@media only screen and (max-width: 640px) {
  [layout="flexrow"][gutters][autostack] > * {
    margin-bottom: 1rem; } }

[gutters="plus-1"] {
  margin-right: -1.125rem; }

[gutters="plus-1"] > * {
  padding-right: 1.125rem; }

[layout="flexgrid"][gutters="plus-1"] > * {
  margin-bottom: 1.125rem; }

[layout="flexcolumn"][gutters="plus-1"] > :not(:first-child) {
  margin-top: 1.125rem; }

@media only screen and (max-width: 640px) {
  [layout="flexrow"][gutters="plus-1"][autostack] > * {
    margin-bottom: 1.125rem; } }

[gutters="plus-2"] {
  margin-right: -1.25rem; }

[gutters="plus-2"] > * {
  padding-right: 1.25rem; }

[layout="flexgrid"][gutters="plus-2"] > * {
  margin-bottom: 1.25rem; }

[layout="flexcolumn"][gutters="plus-2"] > :not(:first-child) {
  margin-top: 1.25rem; }

@media only screen and (max-width: 640px) {
  [layout="flexrow"][gutters="plus-2"][autostack] > * {
    margin-bottom: 1.25rem; } }

[gutters="plus-3"] {
  margin-right: -1.5rem; }

[gutters="plus-3"] > * {
  padding-right: 1.5rem; }

[layout="flexgrid"][gutters="plus-3"] > * {
  margin-bottom: 1.5rem; }

[layout="flexcolumn"][gutters="plus-3"] > :not(:first-child) {
  margin-top: 1.5rem; }

@media only screen and (max-width: 640px) {
  [layout="flexrow"][gutters="plus-3"][autostack] > * {
    margin-bottom: 1.5rem; } }

[gutters="plus-4"] {
  margin-right: -2rem; }

[gutters="plus-4"] > * {
  padding-right: 2rem; }

[layout="flexgrid"][gutters="plus-4"] > * {
  margin-bottom: 2rem; }

[layout="flexcolumn"][gutters="plus-4"] > :not(:first-child) {
  margin-top: 2rem; }

@media only screen and (max-width: 640px) {
  [layout="flexrow"][gutters="plus-4"][autostack] > * {
    margin-bottom: 2rem; } }

[gutters="plus-5"] {
  margin-right: -2.25rem; }

[gutters="plus-5"] > * {
  padding-right: 2.25rem; }

[layout="flexgrid"][gutters="plus-5"] > * {
  margin-bottom: 2.25rem; }

[layout="flexcolumn"][gutters="plus-5"] > :not(:first-child) {
  margin-top: 2.25rem; }

@media only screen and (max-width: 640px) {
  [layout="flexrow"][gutters="plus-5"][autostack] > * {
    margin-bottom: 2.25rem; } }

[gutters="plus-6"] {
  margin-right: -3rem; }

[gutters="plus-6"] > * {
  padding-right: 3rem; }

[layout="flexgrid"][gutters="plus-6"] > * {
  margin-bottom: 3rem; }

[layout="flexcolumn"][gutters="plus-6"] > :not(:first-child) {
  margin-top: 3rem; }

@media only screen and (max-width: 640px) {
  [layout="flexrow"][gutters="plus-6"][autostack] > * {
    margin-bottom: 3rem; } }

[order="tiny-minus-1"] {
  order: -1; }

[order="tiny-minus-2"] {
  order: -2; }

[order="tiny-minus-3"] {
  order: -3; }

[order="tiny-minus-4"] {
  order: -4; }

[order="tiny-minus-5"] {
  order: -5; }

[order="tiny-plus-1"] {
  order: 1; }

[order="tiny-plus-2"] {
  order: 2; }

[order="tiny-plus-3"] {
  order: 3; }

[order="tiny-plus-4"] {
  order: 4; }

[order="tiny-plus-5"] {
  order: 5; }

[order="small-minus-1"] {
  order: -1; }

[order="small-minus-2"] {
  order: -2; }

[order="small-minus-3"] {
  order: -3; }

[order="small-minus-4"] {
  order: -4; }

[order="small-minus-5"] {
  order: -5; }

[order="small-plus-1"] {
  order: 1; }

[order="small-plus-2"] {
  order: 2; }

[order="small-plus-3"] {
  order: 3; }

[order="small-plus-4"] {
  order: 4; }

[order="small-plus-5"] {
  order: 5; }

[order="medium-minus-1"] {
  order: -1; }

[order="medium-minus-2"] {
  order: -2; }

[order="medium-minus-3"] {
  order: -3; }

[order="medium-minus-4"] {
  order: -4; }

[order="medium-minus-5"] {
  order: -5; }

[order="medium-plus-1"] {
  order: 1; }

[order="medium-plus-2"] {
  order: 2; }

[order="medium-plus-3"] {
  order: 3; }

[order="medium-plus-4"] {
  order: 4; }

[order="medium-plus-5"] {
  order: 5; }

[order="large-minus-1"] {
  order: -1; }

[order="large-minus-2"] {
  order: -2; }

[order="large-minus-3"] {
  order: -3; }

[order="large-minus-4"] {
  order: -4; }

[order="large-minus-5"] {
  order: -5; }

[order="large-plus-1"] {
  order: 1; }

[order="large-plus-2"] {
  order: 2; }

[order="large-plus-3"] {
  order: 3; }

[order="large-plus-4"] {
  order: 4; }

[order="large-plus-5"] {
  order: 5; }

[order="huge-minus-1"] {
  order: -1; }

[order="huge-minus-2"] {
  order: -2; }

[order="huge-minus-3"] {
  order: -3; }

[order="huge-minus-4"] {
  order: -4; }

[order="huge-minus-5"] {
  order: -5; }

[order="huge-plus-1"] {
  order: 1; }

[order="huge-plus-2"] {
  order: 2; }

[order="huge-plus-3"] {
  order: 3; }

[order="huge-plus-4"] {
  order: 4; }

[order="huge-plus-5"] {
  order: 5; }

@media screen and (min-width: 0px) {
  .show-tiny-up {
    display: inherit !important; }
  table.show-tiny-up {
    display: table !important; }
  .hide-tiny-up {
    display: none !important; } }

@media screen and (max-width: 319px) {
  .show-tiny-down {
    display: inherit !important; }
  table.show-tiny-down {
    display: table !important; }
  .hide-tiny-down {
    display: none !important; } }

@media screen and (min-width: 0px) and (max-width: 319px) {
  .show-tiny {
    display: inherit !important; }
  table.show-tiny {
    display: table !important; }
  .hide-tiny {
    display: none !important; } }

@media screen and (min-width: 320px) {
  .show-small-up {
    display: inherit !important; }
  table.show-small-up {
    display: table !important; }
  .hide-small-up {
    display: none !important; } }

@media screen and (max-width: 639px) {
  .show-small-down {
    display: inherit !important; }
  table.show-small-down {
    display: table !important; }
  .hide-small-down {
    display: none !important; } }

@media screen and (min-width: 320px) and (max-width: 639px) {
  .show-small {
    display: inherit !important; }
  table.show-small {
    display: table !important; }
  .hide-small {
    display: none !important; } }

@media screen and (min-width: 640px) {
  .show-medium-up {
    display: inherit !important; }
  table.show-medium-up {
    display: table !important; }
  .hide-medium-up {
    display: none !important; } }

@media screen and (max-width: 1023px) {
  .show-medium-down {
    display: inherit !important; }
  table.show-medium-down {
    display: table !important; }
  .hide-medium-down {
    display: none !important; } }

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .show-medium {
    display: inherit !important; }
  table.show-medium {
    display: table !important; }
  .hide-medium {
    display: none !important; } }

@media screen and (min-width: 1024px) {
  .show-large-up {
    display: inherit !important; }
  table.show-large-up {
    display: table !important; }
  .hide-large-up {
    display: none !important; } }

@media screen and (max-width: 1439px) {
  .show-large-down {
    display: inherit !important; }
  table.show-large-down {
    display: table !important; }
  .hide-large-down {
    display: none !important; } }

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .show-large {
    display: inherit !important; }
  table.show-large {
    display: table !important; }
  .hide-large {
    display: none !important; } }

@media screen and (min-width: 1440px) {
  .show-huge-up {
    display: inherit !important; }
  table.show-huge-up {
    display: table !important; }
  .hide-huge-up {
    display: none !important; } }

@media screen and (max-width: 1920px) {
  .show-huge-down {
    display: inherit !important; }
  table.show-huge-down {
    display: table !important; }
  .hide-huge-down {
    display: none !important; } }

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .show-huge {
    display: inherit !important; }
  table.show-huge {
    display: table !important; }
  .hide-huge {
    display: none !important; } }
